html, body {
text-align: center;
}
p {text-align: left;}

body {
	margin: 0;
	padding: 0;
	background: #333333 url(images/img01.gif) repeat-x;
	text-align: justify;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #F1F5F8;
	background-color:#F1A342;
}
*
{
  margin: 0 auto 0 auto;
 text-align:left;}

#header {
	position:relative;
	width: 680px;
	height:99px;
	margin-left:29px;
	margin-right:21px;
	background: url(header.png) no-repeat;
}

#page
{
  margin: 0 auto 0 auto; 
  display: table; 
  height: 100%;  
  position: relative; 
  overflow: hidden; 
  width: 730px;
  border: solid #AB3C24 5px;
}


.articleTitle
{
text-align:left;
padding-left:25px;
padding-top:10px;
padding-bottom:20px;
color:#412923;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:22px;
font-weight:bold;
}

.articleContent
{
width:auto;
position:relative;
padding-left:25px;
color:#412923;
text-align:left;
font-family:Arial, Helvetica, sans-serif;
line-height:27px;
}

.rightLinks
{
width: 102px;
font-size:11px;
font-weight:bold;
line-height:21px;
height:auto;
margin-right:-2px;
background-image:url(links_branch.png);
background-repeat:no-repeat;
text-align:right;
float:right;
}



#bar
{
	position:relative;
	width: 680px;
	height:57px;
	margin-left:29px;
	margin-right:21px;
	background: url(bar.png) no-repeat;
}

.menuLink
{
	height:37px;
	width: 165px;
	text-align:center;
	float:left;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#EAD5A8;
	padding-top:18px;
}

.menuLink a
{
	color:#412923;
}

.menuLink a:hover
{
	color:#FF8000;
}


.menuLink:hover
{
	background: url(bar2.png) repeat-x;
}

a
{
text-decoration:none;
color:#8FB359;
}

#footer {

	width: 730px;
	height:60px;
	background: url(footer.png) no-repeat;
text-align:center;
font-size:9px;
color:#386172;
padding-top:36px;
}

#footer a
{
font-size:10px;
color:#386172;
}

h1{font-size: 17px;
padding-top: 159px;
}

html, body {
text-align: center;
}
p {
    text-align: justify;
    text-indent: 2em;
    padding-right: 20px;
    padding-bottom: 0px;
}

img{float: left;
margin: 0 20px 20px 0;
    width: 50%;
    height: 50%;
    
}
h2{
    padding-bottom: 16px;
    font-size: 17px;
}
.middle-img{ width: 200px;
    
}
.topimg{width: 200px;}
h3{font-size: 15px;
padding-bottom: 14px;}
iframe{padding-bottom: 24px;
float: left;}

h4{font-size: 46px; padding-left: 30px; padding-top: 30px; padding-bottom: 20px; border: solid #ab3c24;}